<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Material: </b>{{features.material}}
    </div>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Peso: </b>{{features.weight}}
    </div>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Diâmetro: </b>{{features.diameter}}
    </div>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Espessura: </b>{{features.diameter}}
    </div>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Forma: </b>{{features.shape}}
    </div>
  </div>
</div>