<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Collectgram</h1>

      <form role="form" (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-content">
          <div class="form-group">
            <input type="email" 
              class="form-control input-underline input-lg" 
              name="email" 
              id="email" 
              ngModel 
              placeholder="Email"
              required>
          </div>

          <div class="form-group">
            <input type="password" 
              class="form-control input-underline input-lg" 
              id="password" 
              name="password" 
              ngModel 
              placeholder="Password"
              required>
          </div>
        </div>

        <p-confirmDialog #cd>
          <p-footer>
            <button type="button" pButton icon="fa-check" label="Confirmar" (click)="cd.accept()"></button>
          </p-footer>
        </p-confirmDialog>
        <button class="btn rounded-btn" [disabled]="!f.valid" type="submit">Log in</button>&nbsp;
      </form>

    </div>
  </div>
</div>