<div class="ui-grid-row" *ngFor="let side of sides">
  <div class="ui-grid-col-12">
    <img [src]="(side.officialImage.smallSize | image) | async" style="max-height: 150px;" *ngIf="side.officialImage.smallSize">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12 label">
          <b>Tipo: </b>{{side.type}}
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12 label">
          <b>Engraver: </b>{{side.engraver}}
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12 label">
          <b>Lettering: </b>{{side.lettering}}
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12 label">
          <b>Lettering Translation: </b>{{side.letteringTranslation}}
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12 label">
          <b>Detalhe: </b>{{side.detail}}
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12 label">
          <b>Primeiro: </b>
          <span *ngIf="side.isFirst;else elseTemplate">Sim</span>
          <ng-template #elseTemplate>Não</ng-template>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12 label">
          <b>Descrição: </b>
          <p-scrollPanel [style]="{width: '100%', height: '50px'}">
            <div style="padding:1em;line-height:1">
              {{side.description}}
            </div>
          </p-scrollPanel>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>