<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Removido: </b>
      <span *ngIf="removed.isRemoved;else elseTemplate">Sim</span>
      <ng-template #elseTemplate>Não</ng-template>
    </div>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Razão: </b>{{removed.reason}}
    </div>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>ID Usuario: </b>{{removed.userId}}
    </div>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Nome: </b>{{removed.userName}}
    </div>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 label">
      <b>Data: </b>{{removed.date}}
    </div>
  </div>
</div>